<div {{bind-attr class=":product isSelected"}} {{action 'select'}}>
  <div class="display pull-left">
    <img {{bind-attr src=image_url alt=name}} />
    {{merchant_name}}
    {{price}}
  </div>
  <div class="details pull-right">
    {{name}}
    {{summary}}
  </div>
</div>